<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=1000">
        <%try { %><meta property="og:image" content="<%= resource_basepath %>/w_200,c_fit/<%= page.resources[0].meta.public_id %>.jpg"><%} catch (E){} %>
        <%/* try { %><meta property="og:description" content="<%=page.body%>"><%} catch (E){} */ %>

        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <script src="/js/vendor/modernizr.js"></script>
        <script src="/js/vendor/jquery.js" type="text/javascript"></script>
        <script src="/js/vendor/jquery.globalstylesheet.js" type="text/javascript"></script>
        <script src="/js/component.js" type="text/javascript"></script>
        <script src="/js/jutil.js" type="text/javascript"></script>
        <script src="/js/world1.js" type="text/javascript"></script>
        <script src="/js/ceearchitects.js" type="text/javascript"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

