<% var title = page && page.title ? "Cee Architects: " + page.title : "Cee Architects" %>
<% include head.ejs %>
<!--% include menu.ejs %-->
<div id="root">
    <div id="logo"></div>
    <div class="slides">
        <div class="images">
            <% if (page.resources && page.resources.length != 0) { %>
                <img src="<%= resource_basepath %>/w_200,c_fit/<%= page.resources[0].meta.public_id %>.jpg"/>
            <% } %>
        </div>
        <div class="info">
            <% if (page.resources && page.resources.length != 0) { %>
            <%- page.resources[0].description %>
            <% } %>
        </div>
        <div class="text">
            <%- page.body %>
        </div>
    </div>
</div>
<script>
    var app = new janecee.application();
    $.ajax('/page').done(function (r) {
        add_parents(r);
        app.root.set_value(r);
        app.root.navigate(document.location.pathname);

    });
    function navigate(node) {
        app.root.navigate(node);
        window.history.pushState({url: node.url}, node.title, node.url);
    }
    window.onpopstate = function(e){
        app.root.navigate(e.state.url);
    };

</script>
<% include foot.ejs %>














